.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 15;
  background-color: var(--clr-primary-midnight-green);
}
